@font-face {
    font-family: handly;
    src: url(bradley_hand_itc_tt_bold.ttf);
}

#foad-title {
    margin-top: 50px;
    margin-left: 100px;
    font-family: Sans-serif;
    font-size: 22px;
    font-weight: bold;
}

/*index-budy*/

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-position {
    padding: 30px 20px;
}

#box1 {
    margin: auto;
    width: 1240px;
    height: 422px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 36px -20px black;
}
#avatar {
    float: right;
    padding: 70px;
    padding-right: 80px;
}

#cv-box {
    margin: auto;
    background-color: black;
    color: white;
    border-radius: 17px;
    text-align: center;
    padding: 0px;
}

#foadmoghaddasi-inbox {
    margin-left: 80px;
    padding-top: 135px;
    font-size: 62px;
    font-family: Sans-serif;
}

#JuniorProductDesigner {
    margin-left: 80px;
    margin-top: -65px;
    font-size: 31px;
    font-weight: 100;
    font-family: Sans-serif;
}

#cv-botton {
    margin-left: 80px;
    margin-top: -150px;
    font-family: Sans-serif;
}

button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-size: 31px;
    border-radius: 17px;
}

.button:hover {
    background-color: rgb(58, 58, 58);
    color: rgb(255, 255, 255);
}

#me-box {
    margin: auto;
    width: 1240px;
    height: 513px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 36px -20px black;
    font-weight: 200;
}

#aboutme-me-box {
    margin-top: 150px;
    font-size: 29px;
    font-weight: 200;
    padding-left: 80px;
    padding-top: 80px;
    padding-right: 70px;
    line-height: 50px;
    font-family: Sans-serif;

}

#skills-box {
    margin: auto;
    width: 588px;
    height: 850px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 36px -20px black;
}

#skills-title {
    font-size: 41px;
    padding-top: 80px;
    padding-left: 80px;
    font-family: Sans-serif;
}

#skills-list {
    margin-left: 80px;
    margin-top: 20px;
    font-size: 29px;
    line-height: 70px;
    font-family: Sans-serif;
    font-weight: 200;
}

#job-box {
    margin: auto;
    width: 1240px;
    height: 372px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 36px -20px black;
}

#Latest-Experiences {
    font-size: 41px;
    padding: 80px;
    font-family: Sans-serif;
}

#Exp-paragraph {
    padding: 80px;
    font-size: 29px;
    line-height: 40px;
    margin-top: -170px;
    font-family: Sans-serif;
    font-weight: 200;
}

#jabama-logo {
    float: right;
    margin-right: 80px;
    margin-top: -290px;
}

#for-more-info {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    font-family: Sans-serif;
}

#pls-read-cv {
    text-decoration: wavy;
    font-weight: bolder;
}

/*menu*/

.menu-item {
    margin-left: 20px;
    display: inline-block;
    padding-left: 50px;
}

.menu {
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-box {
    padding: 0 50px;
}

#contact-menue {
    font-family: Sans-serif;
    font-size: 22px;
    font-weight: 30;
    text-decoration: none;
    color: black;
    padding: 20px;
}

#contact-menue:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
}

#Portfolio-menue {
    font-family: Sans-serif;
    font-size: 22px;
    text-decoration: none;
    color: black;
    padding: 20px;
}

#Portfolio-menue:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
}

.Portfolio-clicked {
    background-color: black;
    color: white;
    border-radius: 20px;
}

#Home-menue {
    font-family: Sans-serif;
    font-size: 22px;
    font-weight: 30;
    text-decoration: none;
    color: black;
    margin-right: 100px;
    padding: 20px;
}

#Home-menue:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
}

/*portfolio-budy*/

#just-click-style {
    font-size: 22px;
    text-align: center;
    margin-top: 100px;
    font-weight: 30;
    font-family: Sans-serif;
    margin-bottom: 100px;
}

#insta-box {
    width: 338px;
    height: 449px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 36px -20px black;
}

#insta-box:hover {
    background-color: rgb(238, 238, 238);
}

#link-box {
    width: 338px;
    height: 449px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 36px -20px black;
}

#link-box:hover {
    background-color: rgb(238, 238, 238);
}

#dribbble-box {
    width: 338px;
    height: 449px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 36px -20px black;
}

#dribbble-box:hover {
    background-color: rgb(238, 238, 238);
}

#vl {
    margin-top: 2px;
    margin-left: 90px;
    border-left: 3px black;
    height: 50px;
}

#email-box {
    margin: auto;
    width: 589px;
    height: 141px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 36px -20px black;
}

#email-box:hover {
    background-color: rgb(238, 238, 238);
}

.link-pics {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-position {
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 0 10px;
}

@media only screen and (max-width: 600px) {
    /*portfolio*/
    .box-align {
        flex-direction: column;
    }
    .p-box {
        padding: 30px 20px;
    }
    /*home*/
    #foad-title {
        margin-top: -70px;
        margin-left: 37px;
    }
    .skills {
        flex-direction: column;
    }
    .skills-position {
        padding: 15px 0px;
    }
    .menu {
        margin-right: auto;
        margin-top: 150px;
        margin-left: -158px;
        display: flex;
    }
    .menu-item {
        margin-left: 10px;
        display: inline-block;
        padding-left: 30px;
    }
    #Home-menue {
        margin-right: 0px;
        padding: 20px;
    }
    #box1 {
        margin: auto;
        width: 350px;
        height: 800px;
    }
    #avatar {
        margin-left: 0px;
        padding: 50px;
    }
    #foadmoghaddasi-inbox {
        margin-left: 47px;
        padding-top: 0px;
        font-size: 40px;
    }
    #JuniorProductDesigner {
        margin-left: 47px;
        margin-top: -55px;
        font-size: 28px;
    }
    #cv-botton {
        margin-left: 50px;
        margin-top: 20px;
    }
    #me-box {
        margin-top: -90px;
        width: 350px;
        height: 840px;
    }
    #aboutme-me-box {
        font-size: 20px;
        font-weight: 200;
        padding-left: 47px;
        padding-top: 47px;
        line-height: 40px;
        padding-right: 37px;
        font-family: Sans-serif;
    }
    #skills-box {
        width: 350px;
        height: 750px;
    }
    #skills-title {
        font-size: 31px;
        padding-top: 47px;
        padding-left: 47px;
    }
    #skills-list {
        margin-left: 47px;
        margin-top: 20px;
        font-size: 22px;
    }
    #job-box {
        width: 350px;
        height: 550px;
    }
    #Latest-Experiences {
        font-size: 31px;
        padding-left: 47px;
    }
    #Exp-paragraph {
        padding-left: 47px;
        padding-right: 30px;
        font-size: 22px;
        line-height: 40px;
        margin-top: -170px;
    }
    #jabama-logo {
        float: left;
        margin-left: 47px;
        margin-top: 56px;
        margin-bottom: 30px;
    }
    #for-more-info {
        margin-top: 50px;
        text-decoration: none;
        font-size: 22px;
        font-weight: 300;
        text-align: center;
        line-height: 50px;
    }
    #foad-title {
        margin-top: none;
        margin-left: 47px;
        font-family: Sans-serif;
        font-size: 22px;
        font-weight: bold;
        display: flex;
    }
    .link-pics {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .link-position {
        margin-top: 100px;
        margin-bottom: 50px;
        padding: 0 10px;
    }
}