@font-face {
    font-family: handly;
    src: url(bradley_hand_itc_tt_bold.ttf);
}

#foad-title {
    margin-top: 50px;
    margin-left: 100px;
    font-family: Sans-serif;
    font-size: 22px;
    font-weight: bold;
}

/*index-budy*/

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-position {
    padding: 30px 20px;
}

/*menu*/

.menu-item {
    margin-left: 20px;
    display: inline-block;
    padding-left: 50px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-align {
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-box {
    padding: 0 50px;
}

.menu {
    padding-top: 20px;
    display: flex;
    align-items: center;
}

#contact-menue {
    font-family: Sans-serif;
    font-size: 22px;
    font-weight: 30;
    text-decoration: none;
    color: black;
    padding: 20px;
}

#contact-menue:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
}

#Portfolio-menue {
    font-family: Sans-serif;
    font-size: 22px;
    text-decoration: none;
    color: black;
    padding: 20px;
}

#Portfolio-menue:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
}

.Portfolio-clicked {
    background-color: black;
    color: white;
    border-radius: 20px;
}

#Home-menue {
    font-family: Sans-serif;
    font-size: 22px;
    font-weight: 30;
    text-decoration: none;
    color: black;
    margin-right: 100px;
    padding: 20px;
}

#Home-menue:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
}

/*portfolio-budy*/

#just-click-style {
    font-size: 22px;
    text-align: center;
    margin-top: 100px;
    font-weight: 30;
    font-family: Sans-serif;
    margin-bottom: 100px;
}

#insta-box {
    width: 338px;
    height: 449px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 36px -20px black;
}

#insta-box:hover {
    background-color: rgb(238, 238, 238);
}

#link-box {
    width: 338px;
    height: 449px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 36px -20px black;
}

#link-box:hover {
    background-color: rgb(238, 238, 238);
}

#dribbble-box {
    width: 338px;
    height: 449px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 36px -20px black;
}

#dribbble-box:hover {
    background-color: rgb(238, 238, 238);
}

#vl {
    margin-top: 2px;
    margin-left: 90px;
    border-left: 3px black;
    height: 50px;
}

#box1 {
    margin: auto;
    width: 1240px;
    height: 422px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 36px -20px black;
}

#cv-box {
    margin: auto;
    background-color: black;
    color: white;
    border-radius: 17px;
    text-align: center;
    padding: 0px;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-size: 31px;
    border-radius: 17px;
}

.button:hover {
    background-color: rgb(58, 58, 58);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-size: 31px;
    border-radius: 17px;
}

#me-box {
    margin: auto;
    width: 1240px;
    height: 513px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 36px -20px black;
}

#skills-box {
    width: 588px;
    height: 917px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 36px -20px black;
}

#job-box {
    margin: auto;
    width: 1240px;
    height: 372px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 36px -20px black;
}

#email-box {
    margin: auto;
    width: 589px;
    height: 141px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 36px -20px black;
}

#email-box:hover {
    background-color: rgb(238, 238, 238);
}

.link-pics {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-position {
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 0 10px;
}

@media only screen and (max-width: 600px) {
    .skills {
        flex-direction: column;
    }
    .skills-position {
        padding: 30px 20px;
    }
    /*portfolio*/
    .box-align {
     flex-direction: column;
     
    }
    .p-box {
        padding: 20 20px;
    }
}
