@font-face {
    font-family: handly;
    src: url(bradley_hand_itc_tt_bold.ttf);
}

#foad-title {
    margin-top: 50px;
    margin-left: 100px;
    font-family: Sans-serif;
    font-size: 28px;
    font-weight: 500px;
}

/*index-budy*/

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-position {
    padding: 30px 20px;
}

#box1 {
    margin: auto;
    width: 1240px;
    height: 422px;
    background-color: #E3E6EC;
    border-radius: 40px;
    box-shadow: 5px 5px 35px 8px #D1D9E9, -17px -17px 35px 0px white;
    
}

#avatar {
    float: right;
    padding: 70px;
    padding-right: 80px;
}

#cv-box {
    margin: auto;
    background-color: black;
    color: white;
    border-radius: 17px;
    text-align: center;
    padding: 0px;
}

#foadmoghaddasi-inbox {
    color: #76787E;
    margin-left: 80px;
    padding-top: 120px;
    font-size: 62px;
    font-family: Sans-serif;
}

#JuniorProductDesigner {
    color: #76787E;
    margin-left: 80px;
    margin-top: -75px;
    font-size: 31px;
    font-weight: 100;
    font-family: Sans-serif;
}

#cv-botton {
    margin-left: 80px;
    font-size: 21px;
    font-family: Sans-serif;
}

button {
    background-color: linear-gradient(135deg, #F3F4F7, #d7dde9);
    box-shadow: 5px 5px 20px 2px #D1D9E9, -7px -7px 20px 5px white;
    border: none;
    color: #909c9e;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-size: 31px;
    border-radius: 17px;
}

.button:hover {
    box-shadow: inset 2px 2px 10px 0px #D1D9E9;
    background-color:#E3E6EC;
    color: #b1b8b9;
}

#me-box {
    margin: auto;
    width: 1240px;
    height: 505px;
    background-color: #E3E6EC;
    border-radius: 40px;
    box-shadow: 5px 5px 35px 8px #D1D9E9, -17px -17px 35px 0px white;
    font-weight: 200;
}

#aboutme-me-box {
    margin-top: 150px;
    font-size: 29px;
    font-weight: 200;
    padding-left: 80px;
    padding-top: 50px;
    padding-right: 70px;
    line-height: 50px;
    font-family: Sans-serif;
}

#skills-box {
    margin: auto;
    width: 588px;
    height: 850px;
    background-color: #E3E6EC;
    border-radius: 40px;
    box-shadow: 5px 5px 35px 8px #D1D9E9, -17px -17px 35px 0px white;
}

#skills-title {
    font-size: 41px;
    padding-top: 80px;
    padding-left: 80px;
    font-family: Sans-serif;
}

#skills-list {
    margin-left: 80px;
    margin-top: 20px;
    font-size: 29px;
    line-height: 70px;
    font-family: Sans-serif;
    font-weight: 200;
}

#job-box {
    margin: auto;
    width: 1240px;
    height: 372px;
    border-radius: 40px;
    background-color: #E3E6EC;
    box-shadow: 5px 5px 35px 8px #D1D9E9, -17px -17px 35px 0px white;
}

#Latest-Experiences {
    font-size: 41px;
    padding: 80px;
    font-family: Sans-serif;
}

#Exp-paragraph {
    padding: 80px;
    font-size: 29px;
    line-height: 50px;
    margin-top: -170px;
    font-family: Sans-serif;
    font-weight: 200;
}

#jabama-logo {
    float: right;
    margin-right: 80px;
    margin-top: 80px;
}

#for-more-info {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    font-family: Sans-serif;
    line-height: 60px;
}

#pls-read-cv {
    text-decoration: wavy;
    font-weight: bolder;
}

/*menu*/

.menu-item {
    margin-left: 20px;
    display: inline-block;
    padding-left: 50px;
}

.menu {
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-box {
    padding: 0 50px;
}

#contact-menue {
    background-color: linear-gradient(135deg, #F3F4F7, #d7dde9);
    box-shadow: 5px 5px 20px 2px #D1D9E9, -3px -3px 20px 5px white;
    border-radius: 20px;
    font-family: Sans-serif;
    font-size: 22px;
    font-weight: 30;
    text-decoration: none;
    color: black;
    padding: 20px;
    margin-right: 100px;
}

#contact-menue:hover {
    box-shadow: inset 0px 0px 10px 5px #D1D9E9;
    background-color:#E3E6EC;
    color: #b1b8b9;
    border-radius: 20px;
}

#Portfolio-menue {
    background-color: linear-gradient(135deg, #F3F4F7, #d7dde9);
    box-shadow: 5px 5px 20px 2px #D1D9E9, -3px -3px 20px 5px white;
    border-radius: 20px;
    font-family: Sans-serif;
    font-size: 22px;
    text-decoration: none;
    color: black;
    padding: 20px;
}

#Portfolio-menue:hover {
    box-shadow: inset 0px 0px 10px 5px #D1D9E9;
    background-color:#E3E6EC;
    color: #b1b8b9;
    border-radius: 20px;
}

.Portfolio-clicked {
    box-shadow: inset 0px 0px 10px 5px #D1D9E9;
    background-color:#E3E6EC;
    color: #b1b8b9;
    border-radius: 20px;
}

#Home-menue {
    background-color: linear-gradient(135deg, #F3F4F7, #d7dde9);
    box-shadow: 5px 5px 20px 2px #D1D9E9, -3px -3px 20px 5px white;
    border-radius: 20px;
    font-family: Sans-serif;
    font-size: 22px;
    font-weight: 30;
    text-decoration: none;
    color: black;
    padding: 20px;
}

#Home-menue:hover {
    box-shadow: inset 0px 0px 10px 5px #D1D9E9;
    background-color:#E3E6EC;
    color: #b1b8b9;
    border-radius: 20px;
}

/*portfolio-budy*/

#just-click-style {
    font-size: 22px;
    text-align: center;
    margin-top: 100px;
    font-weight: 30;
    font-family: Sans-serif;
    margin-bottom: 100px;
}

#insta-box {
    width: 338px;
    height: 449px;
    background-color: #E3E6EC;
    border-radius: 40px;
    box-shadow: 5px 5px 35px 8px #D1D9E9, -17px -17px 35px 0px white;
}

#insta-box:hover {
    box-shadow: inset 0px 0px 10px 5px #D1D9E9;
    background-color:#E3E6EC;
    color: #b1b8b9;
}

#link-box {
    width: 338px;
    height: 449px;
    background-color: #E3E6EC;
    border-radius: 40px;
    box-shadow: 5px 5px 35px 8px #D1D9E9, -17px -17px 35px 0px white;
}

#link-box:hover {
    box-shadow: inset 0px 0px 10px 5px #D1D9E9;
    background-color:#E3E6EC;
    color: #b1b8b9;
}

#dribbble-box {
    width: 338px;
    height: 449px;
    background-color: #E3E6EC;
    border-radius: 40px;
    box-shadow: 5px 5px 35px 8px #D1D9E9, -17px -17px 35px 0px white;
}

#dribbble-box:hover {
    box-shadow: inset 0px 0px 10px 5px #D1D9E9;
    background-color:#E3E6EC;
    color: #b1b8b9;
}

#vl {
    margin-top: 2px;
    margin-left: 90px;
    border-left: 3px black;
    height: 50px;
}

#email-box {
    margin: auto;
    width: 589px;
    height: 141px;
    border-radius: 40px;
    background-color: #E3E6EC;
    box-shadow: 5px 5px 35px 8px #D1D9E9, -17px -17px 35px 0px white;
}

#email-box:hover {
    box-shadow: inset 0px 0px 10px 5px #D1D9E9;
    background-color:#E3E6EC;
    color: #b1b8b9;
}

.link-pics {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-position {
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 0 10px;
}

#whatsup {
    font-family: handly;
    text-align: left;
    font-size: 156px;
    margin-left: 22%;
    margin-top: 150px;
}

#con-email {
    font-family: 30px;
    text-align: left;
    font-weight: bold;
    padding: 50px;
    font-family: Sans-serif;
}

#con-tele {
    font-family: 30px;
    text-align: left;
    font-weight: bold;
    padding: 50px;
    font-family: Sans-serif;
}

#con-link {
    font-family: 30px;
    text-align: left;
    font-weight: bold;
    padding: 50px;
    font-family: Sans-serif;
}

#copyright {
    text-align: center;
    font-size: 18px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
    line-height: 38px;
}
#email-icon{
    text-align: center;
    padding: 35px;
    float: right;
}
#tele-icon{
    text-align: center;
    padding: 25px;
    float: right;
    padding-right: 35px;
    font-family: Sans-serif;
}
#link-icon{
    text-align: center;
    padding: 30px;
    float: right;
    padding-right: 35px;
    font-family: Sans-serif;
}
@media only screen and (max-width: 600px) {
    /*portfolio*/
    .box-align {
        flex-direction: column;
    }
    .p-box {
        padding: 30px 20px;
    }
    /*home*/
    #foad-title {
        margin-top: -70px;
        margin-left: auto;
    }
    .skills {
        flex-direction: column;
    }
    .skills-position {
        padding: 15px 0px;
    }
    .menu {
        margin-right: auto;
        margin-top: 150px;
        margin-left: -151px;
        display: flex;
    }
    .menu-item {
        margin-left: 16px;
        display: inline-block;
        padding-left: 30px;
    }
    #Home-menue {
        font-size: 12pt;
        margin-right: 0px;
        padding: 20px;
    }
    #contact-menue {
        font-size: 12pt;
        margin-right: 0px;
    }
    #Portfolio-menue {
        font-size: 12pt;
    }
    #box1 {
        margin: auto;
        width: 350px;
        height: 800px;
    }
    #avatar {
        margin-left: 0px;
        padding: 50px;
    }
    #foadmoghaddasi-inbox {
        margin-left: 47px;
        padding-top: 0px;
        font-size: 40px;
    }
    #JuniorProductDesigner {
        margin-left: 47px;
        margin-top: -24px;
        font-size: 28px;
    }
    #cv-botton {
        margin-left: 47px;
        margin-top: 1px;
    }
    #me-box {
        margin-top: -90px;
        width: 350px;
        height: 810px;
    }
    #aboutme-me-box {
        font-size: 20px;
        font-weight: 300px;
        padding-left: 47px;
        padding-top: 47px;
        line-height: 40px;
        padding-right: 37px;
        font-family: Sans-serif;
    }
    #skills-box {
        width: 350px;
        height: 600px;
    }
    #skills-title {
        font-size: 31px;
        padding-top: 47px;
        padding-left: 47px;
    }
    #skills-list {
        margin-left: 47px;
        margin-top: 20px;
        font-size: 22px;
        line-height: 50px;
    }
    #job-box {
        width: 350px;
        height: 550px;
    }
    #Latest-Experiences {
        font-size: 31px;
        padding-left: 47px;
    }
    #Exp-paragraph {
        padding-left: 47px;
        padding-right: 30px;
        font-size: 22px;
        line-height: 40px;
        margin-top: -170px;
    }
    #jabama-logo {
        float: left;
        margin-left: 47px;
        margin-top: 56px;
        margin-bottom: 30px;
    }
    #for-more-info {
        margin-top: 50px;
        text-decoration: none;
        font-size: 22px;
        font-weight: 300;
        text-align: center;
        line-height: 50px;
    }
    #foad-title {
        margin-top: none;
        margin-left: 47px;
        font-family: Sans-serif;
        font-size: 22px;
        font-weight: bold;
        display: flex;
    }
    .link-pics {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .link-position {
        margin-top: 100px;
        margin-bottom: 50px;
        padding: 0 10px;
    }
    #email-box {
        margin: auto;
        width: 300px;
        height: 120px;
    }
    #whatsup {
        font-size: 100px;
        margin-left: 47px;
        margin-top: 100px;
    }
    #con-email {
        font-size: 24px;
        text-align: left;
        font-weight: bold;
        padding: 50px;
    }
    #con-tele {
        font-size: 24px;
        text-align: left;
        font-weight: bold;
        padding: 38px;
        padding-left: 50px;
    }
    #con-link {
        font-size: 24px;
        text-align: left;
        font-weight: bold;
        padding: 50px;
    }
    #email-icon{
        width: 70px;
        height: 50px;
        padding: 35px;
        float: right;
    }
    #tele-icon{
        width: 70px;
        height: 80px;
        padding: 20px;
        padding-right: 35px;
    }
    #link-icon{
        width: 70px;
        height: 70px;
        padding: 30px;
        padding-right: 35px;
    }
}